html {
  scroll-snap-type: y mandatory;
}
.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.app__videos {
  position: relative;
  height: 600px;
  overflow: hidden;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}
.app__videos::-webkit-scrollbar {
  display: none;
}