.videoFooter {
    position: relative;
    color: white;
    bottom: 150px;
    margin-left: 40px;
    display: flex;
    padding: 20px;
}
.videoFooter__text {
    flex: 1;
    
}
.videoFooter__ticker > .ticker {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
}
.videoFooter__ticker h1 {
    padding-top: 7px;
    
}
.videoFooter__recored {
    animation:spinTheRecored infinite 5s linear ;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 0;
}
@keyframes spinTheRecored {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}
.videoFooter__text > h3 {
    padding-bottom: 20px;
}
.videoFooter__text > p {
    padding-bottom: 20px;
}
.videoFooter__icon {
    position: absolute;
}